APP_NAME = App Name
APP_PORT = 8000
APP_ENV = development

CLIENT_ORIGIN = http://localhost:5173

CLOUDINARY_URL = "cloudinary://<cloudinary_key>:<cloudinary_secret>@<cloudinary_cloud_name>"

SMTP_HOST = "smtp.ethereal.email"
SMTP_PORT = 587
SMTP_USER = "<your_email_provider_user>"
SMTP_PASS = "<your_email_provider_pass>"