# Setelah pull, copy paste ini ke file .env dan sesuaikan dengan konfigurasi database kalian masing-masing

APP_NAME = "app_name"
APP_PORT = 8000

PGHOST= 'host url'
PGDATABASE= 'db name'
PGUSER= 'user name'
PGPASSWORD= 'password'
PGSSLMODE= 'ssl mode'
PGCHANNELBINDING= 'channel binding'